/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
  font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

/**
Add the correct font weight in Edge and Safari.
*/


strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code {
  font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
select {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

/**
Restore the focus styles unset by the previous rule.
*/

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */


h1,
h2,
h3,
h5,
h6,
hr,
figure,
p {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}

/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */

body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

input::-moz-placeholder {
  color: #9ca3af;
}

input:-ms-input-placeholder {
  color: #9ca3af;
}

input::placeholder {
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

h1,
h2,
h3,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
select {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */


code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * Make replaced elements `display: block` by default as that's
 * the behavior you want almost all of the time. Inspired by
 * CSS Remedy, with `svg` added as well.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img {
  display: block;
  vertical-align: middle;
}

/**
 * Constrain images and videos to the parent width and preserve
 * their instrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img {
  max-width: 100%;
  height: auto;
}

.tw-bg-transparent {
  background-color: transparent;
}

.tw-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.tw-bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
}

.tw-bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}

.tw-bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}

.tw-bg-red-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(254, 226, 226, var(--tw-bg-opacity));
}

.tw-bg-yellow-400 {
  --tw-bg-opacity: 1;
  background-color: rgba(251, 191, 36, var(--tw-bg-opacity));
}

.tw-bg-green-50 {
  --tw-bg-opacity: 1;
  background-color: rgba(236, 253, 245, var(--tw-bg-opacity));
}

.tw-bg-green-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(209, 250, 229, var(--tw-bg-opacity));
}

.tw-bg-green-400 {
  --tw-bg-opacity: 1;
  background-color: rgba(52, 211, 153, var(--tw-bg-opacity));
}

.tw-bg-green-500 {
  --tw-bg-opacity: 1;
  background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
}

.tw-bg-indigo-500 {
  --tw-bg-opacity: 1;
  background-color: rgba(99, 102, 241, var(--tw-bg-opacity));
}

.hover\:tw-bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}

.hover\:tw-bg-gray-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}

.hover\:tw-bg-gray-400:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(156, 163, 175, var(--tw-bg-opacity));
}

.hover\:tw-bg-yellow-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(253, 230, 138, var(--tw-bg-opacity));
}

.hover\:tw-bg-yellow-500:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(245, 158, 11, var(--tw-bg-opacity));
}

.hover\:tw-bg-green-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(209, 250, 229, var(--tw-bg-opacity));
}

.hover\:tw-bg-green-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(167, 243, 208, var(--tw-bg-opacity));
}

.hover\:tw-bg-green-500:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
}

.hover\:tw-bg-indigo-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(79, 70, 229, var(--tw-bg-opacity));
}

.tw-bg-opacity-50 {
  --tw-bg-opacity: 0.5;
}

.tw-border-white {
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}

.tw-border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}

.tw-border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgba(209, 213, 219, var(--tw-border-opacity));
}

.tw-border-gray-400 {
  --tw-border-opacity: 1;
  border-color: rgba(156, 163, 175, var(--tw-border-opacity));
}

.tw-border-yellow-400 {
  --tw-border-opacity: 1;
  border-color: rgba(251, 191, 36, var(--tw-border-opacity));
}

.tw-border-green-200 {
  --tw-border-opacity: 1;
  border-color: rgba(167, 243, 208, var(--tw-border-opacity));
}

.hover\:tw-border-gray-300:hover {
  --tw-border-opacity: 1;
  border-color: rgba(209, 213, 219, var(--tw-border-opacity));
}

.hover\:tw-border-gray-400:hover {
  --tw-border-opacity: 1;
  border-color: rgba(156, 163, 175, var(--tw-border-opacity));
}

.hover\:tw-border-gray-500:hover {
  --tw-border-opacity: 1;
  border-color: rgba(107, 114, 128, var(--tw-border-opacity));
}

.hover\:tw-border-yellow-400:hover {
  --tw-border-opacity: 1;
  border-color: rgba(251, 191, 36, var(--tw-border-opacity));
}

.tw-rounded-sm {
  border-radius: 0.125rem;
}

.tw-rounded {
  border-radius: 0.25rem;
}

.tw-rounded-md {
  border-radius: 0.375rem;
}

.tw-rounded-lg {
  border-radius: 0.5rem;
}

.tw-rounded-xl {
  border-radius: 0.75rem;
}

.tw-rounded-t-none {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.tw-rounded-l-none {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.tw-rounded-b-sm {
  border-bottom-right-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}

.tw-rounded-r-lg {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.tw-border-solid {
  border-style: solid;
}

.tw-border-none {
  border-style: none;
}

.tw-border {
  border-width: 1px;
}

.tw-border-r-0 {
  border-right-width: 0px;
}

.tw-border-b-0 {
  border-bottom-width: 0px;
}

.tw-border-l-0 {
  border-left-width: 0px;
}

.tw-border-t {
  border-top-width: 1px;
}

.tw-border-b {
  border-bottom-width: 1px;
}

.tw-box-border {
  box-sizing: border-box;
}

.tw-cursor-default {
  cursor: default;
}

.tw-cursor-pointer {
  cursor: pointer;
}

.tw-block {
  display: block;
}

.tw-inline-block {
  display: inline-block;
}

.tw-inline {
  display: inline;
}

.tw-flex {
  display: flex;
}

.tw-inline-flex {
  display: inline-flex;
}

.tw-grid {
  display: grid;
}

.tw-hidden {
  display: none;
}

.tw-flex-col {
  flex-direction: column;
}

.tw-flex-wrap {
  flex-wrap: wrap;
}

.tw-flex-nowrap {
  flex-wrap: nowrap;
}

.tw-place-items-center {
  place-items: center;
}

.tw-items-end {
  align-items: flex-end;
}

.tw-items-center {
  align-items: center;
}

.tw-items-stretch {
  align-items: stretch;
}

.tw-content-center {
  align-content: center;
}

.tw-content-evenly {
  align-content: space-evenly;
}

.tw-self-start {
  align-self: flex-start;
}

.tw-self-center {
  align-self: center;
}

.tw-self-stretch {
  align-self: stretch;
}

.tw-justify-items-start {
  justify-items: start;
}

.tw-justify-start {
  justify-content: flex-start;
}

.tw-justify-center {
  justify-content: center;
}

.tw-justify-between {
  justify-content: space-between;
}

.tw-justify-around {
  justify-content: space-around;
}

.tw-flex-grow-0 {
  flex-grow: 0;
}

.tw-flex-grow {
  flex-grow: 1;
}

.tw-flex-shrink-0 {
  flex-shrink: 0;
}

.tw-flex-shrink {
  flex-shrink: 1;
}

.tw-order-2 {
  order: 2;
}

.tw-font-sans {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.tw-font-serif {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.tw-font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.tw-font-light {
  font-weight: 300;
}

.tw-font-normal {
  font-weight: 400;
}

.tw-font-medium {
  font-weight: 500;
}

.tw-font-semibold {
  font-weight: 600;
}

.tw-font-bold {
  font-weight: 700;
}

.tw-h-1 {
  height: 0.25rem;
}

.tw-h-6 {
  height: 1.5rem;
}

.tw-h-7 {
  height: 1.75rem;
}

.tw-h-10 {
  height: 2.5rem;
}

.tw-h-12 {
  height: 3rem;
}

.tw-h-14 {
  height: 3.5rem;
}

.tw-h-24 {
  height: 6rem;
}

.tw-h-28 {
  height: 7rem;
}

.tw-h-32 {
  height: 8rem;
}

.tw-h-36 {
  height: 9rem;
}

.tw-h-auto {
  height: auto;
}

.tw-h-full {
  height: 100%;
}

.tw-text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.tw-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.tw-text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.tw-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.tw-text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.tw-text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.tw-text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.tw-text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.tw-leading-3 {
  line-height: .75rem;
}

.tw-m-0 {
  margin: 0px;
}

.tw-m-5 {
  margin: 1.25rem;
}

.tw-mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.tw-my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.tw-mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.tw-my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.tw-mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.tw-my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.tw-mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.tw-my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tw-mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.tw-mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.tw-my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.tw-my-16 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.tw-my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.tw-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.tw-mt-0 {
  margin-top: 0px;
}

.tw-mt-1 {
  margin-top: 0.25rem;
}

.tw-ml-1 {
  margin-left: 0.25rem;
}

.tw-mt-2 {
  margin-top: 0.5rem;
}

.tw-mr-2 {
  margin-right: 0.5rem;
}

.tw-mb-2 {
  margin-bottom: 0.5rem;
}

.tw-ml-2 {
  margin-left: 0.5rem;
}

.tw-mt-3 {
  margin-top: 0.75rem;
}

.tw-mr-3 {
  margin-right: 0.75rem;
}

.tw-mb-3 {
  margin-bottom: 0.75rem;
}

.tw-mt-4 {
  margin-top: 1rem;
}

.tw-mr-4 {
  margin-right: 1rem;
}

.tw-mb-4 {
  margin-bottom: 1rem;
}

.tw-mt-5 {
  margin-top: 1.25rem;
}

.tw-mr-5 {
  margin-right: 1.25rem;
}

.tw-mt-6 {
  margin-top: 1.5rem;
}

.tw-mr-6 {
  margin-right: 1.5rem;
}

.tw-mb-6 {
  margin-bottom: 1.5rem;
}

.tw-ml-6 {
  margin-left: 1.5rem;
}

.tw-mb-7 {
  margin-bottom: 1.75rem;
}

.tw-ml-7 {
  margin-left: 1.75rem;
}

.tw-mt-8 {
  margin-top: 2rem;
}

.tw-mb-8 {
  margin-bottom: 2rem;
}

.tw-mt-10 {
  margin-top: 2.5rem;
}

.tw-mb-10 {
  margin-bottom: 2.5rem;
}

.tw-mt-14 {
  margin-top: 3.5rem;
}

.tw-ml-16 {
  margin-left: 4rem;
}

.tw-mt-auto {
  margin-top: auto;
}

.tw-mr-auto {
  margin-right: auto;
}

.tw-mb-auto {
  margin-bottom: auto;
}

.tw-ml-auto {
  margin-left: auto;
}

.tw--mb-2 {
  margin-bottom: -0.5rem;
}

.tw-min-h-full {
  min-height: 100%;
}

.tw-min-h-screen {
  min-height: 100vh;
}

.tw-object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.tw-opacity-80 {
  opacity: 0.8;
}

.tw-opacity-100 {
  opacity: 1;
}

.tw-overflow-hidden {
  overflow: hidden;
}

.tw-overflow-x-auto {
  overflow-x: auto;
}

.tw-overflow-y-auto {
  overflow-y: auto;
}

.tw-p-0 {
  padding: 0px;
}

.tw-p-1 {
  padding: 0.25rem;
}

.tw-p-2 {
  padding: 0.5rem;
}

.tw-p-3 {
  padding: 0.75rem;
}

.tw-py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.tw-py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.tw-px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.tw-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.tw-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.tw-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.tw-px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.tw-py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.tw-px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.tw-px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.tw-py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.tw-px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.tw-pl-0 {
  padding-left: 0px;
}

.tw-pl-1 {
  padding-left: 0.25rem;
}

.tw-pt-2 {
  padding-top: 0.5rem;
}

.tw-pr-2 {
  padding-right: 0.5rem;
}

.tw-pl-2 {
  padding-left: 0.5rem;
}

.tw-pl-3 {
  padding-left: 0.75rem;
}

.tw-pr-4 {
  padding-right: 1rem;
}

.tw-pl-4 {
  padding-left: 1rem;
}

.tw-pt-5 {
  padding-top: 1.25rem;
}

.tw-pl-5 {
  padding-left: 1.25rem;
}

.tw-pt-8 {
  padding-top: 2rem;
}

.tw-pr-8 {
  padding-right: 2rem;
}

.tw-pb-8 {
  padding-bottom: 2rem;
}

.tw-fixed {
  position: fixed;
}

.tw-absolute {
  position: absolute;
}

.tw-relative {
  position: relative;
}

.tw-sticky {
  position: -webkit-sticky;
  position: sticky;
}

.tw-top-0 {
  top: 0px;
}

.tw-right-0 {
  right: 0px;
}

.tw-bottom-0 {
  bottom: 0px;
}

.tw-left-0 {
  left: 0px;
}

.tw-left-1 {
  left: 0.25rem;
}

.tw-top-2 {
  top: 0.5rem;
}

.tw-right-2 {
  right: 0.5rem;
}

.tw-top-4 {
  top: 1rem;
}

.tw-right-4 {
  right: 1rem;
}

.tw-right-5 {
  right: 1.25rem;
}

.tw-top-6 {
  top: 1.5rem;
}

.tw-right-9 {
  right: 2.25rem;
}

* {
  --tw-shadow: 0 0 #0000;
}

.tw-shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tw-shadow {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tw-shadow-md {
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tw-shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tw-shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tw-shadow-none {
  --tw-shadow: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover\:tw-shadow:hover {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover\:tw-shadow-md:hover {
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover\:tw-shadow-lg:hover {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover\:tw-shadow-none:hover {
  --tw-shadow: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

* {
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}

.tw-text-left {
  text-align: left;
}

.tw-text-center {
  text-align: center;
}

.tw-text-right {
  text-align: right;
}

.tw-text-justify {
  text-align: justify;
}

.tw-text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.tw-text-gray-400 {
  --tw-text-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-text-opacity));
}

.tw-text-gray-500 {
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
}

.tw-text-gray-600 {
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));
}

.tw-text-gray-700 {
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
}

.tw-text-gray-800 {
  --tw-text-opacity: 1;
  color: rgba(31, 41, 55, var(--tw-text-opacity));
}

.tw-text-red-300 {
  --tw-text-opacity: 1;
  color: rgba(252, 165, 165, var(--tw-text-opacity));
}

.tw-text-red-400 {
  --tw-text-opacity: 1;
  color: rgba(248, 113, 113, var(--tw-text-opacity));
}

.tw-text-red-500 {
  --tw-text-opacity: 1;
  color: rgba(239, 68, 68, var(--tw-text-opacity));
}

.tw-text-yellow-400 {
  --tw-text-opacity: 1;
  color: rgba(251, 191, 36, var(--tw-text-opacity));
}

.tw-text-yellow-600 {
  --tw-text-opacity: 1;
  color: rgba(217, 119, 6, var(--tw-text-opacity));
}

.tw-text-green-500 {
  --tw-text-opacity: 1;
  color: rgba(16, 185, 129, var(--tw-text-opacity));
}

.tw-text-blue-300 {
  --tw-text-opacity: 1;
  color: rgba(147, 197, 253, var(--tw-text-opacity));
}

.tw-text-blue-400 {
  --tw-text-opacity: 1;
  color: rgba(96, 165, 250, var(--tw-text-opacity));
}

.tw-text-blue-500 {
  --tw-text-opacity: 1;
  color: rgba(59, 130, 246, var(--tw-text-opacity));
}

.tw-text-indigo-500 {
  --tw-text-opacity: 1;
  color: rgba(99, 102, 241, var(--tw-text-opacity));
}

.hover\:tw-text-white:hover {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.hover\:tw-text-gray-600:hover {
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));
}

.hover\:tw-text-red-500:hover {
  --tw-text-opacity: 1;
  color: rgba(239, 68, 68, var(--tw-text-opacity));
}

.hover\:tw-text-green-500:hover {
  --tw-text-opacity: 1;
  color: rgba(16, 185, 129, var(--tw-text-opacity));
}

.hover\:tw-text-green-600:hover {
  --tw-text-opacity: 1;
  color: rgba(5, 150, 105, var(--tw-text-opacity));
}

.hover\:tw-text-green-700:hover {
  --tw-text-opacity: 1;
  color: rgba(4, 120, 87, var(--tw-text-opacity));
}

.hover\:tw-text-blue-600:hover {
  --tw-text-opacity: 1;
  color: rgba(37, 99, 235, var(--tw-text-opacity));
}

.tw-uppercase {
  text-transform: uppercase;
}

.tw-capitalize {
  text-transform: capitalize;
}

.tw-underline {
  text-decoration: underline;
}

.tw-line-through {
  text-decoration: line-through;
}

.tw-whitespace-nowrap {
  white-space: nowrap;
}

.tw-w-5 {
  width: 1.25rem;
}

.tw-w-10 {
  width: 2.5rem;
}

.tw-w-12 {
  width: 3rem;
}

.tw-w-14 {
  width: 3.5rem;
}

.tw-w-16 {
  width: 4rem;
}

.tw-w-20 {
  width: 5rem;
}

.tw-w-28 {
  width: 7rem;
}

.tw-w-32 {
  width: 8rem;
}

.tw-w-120 {
  width: 30rem;
}

.tw-w-1\/2 {
  width: 50%;
}

.tw-w-3\/4 {
  width: 75%;
}

.tw-w-4\/12 {
  width: 33.333333%;
}

.tw-w-6\/12 {
  width: 50%;
}

.tw-w-10\/12 {
  width: 83.333333%;
}

.tw-w-11\/12 {
  width: 91.666667%;
}

.tw-w-full {
  width: 100%;
}

.tw-w-screen {
  width: 100vw;
}

.tw-z-0 {
  z-index: 0;
}

.tw-z-10 {
  z-index: 10;
}

.tw-z-20 {
  z-index: 20;
}

.tw-z-50 {
  z-index: 50;
}

.tw-gap-0 {
  gap: 0px;
}

.tw-gap-1 {
  gap: 0.25rem;
}

.tw-gap-2 {
  gap: 0.5rem;
}

.tw-gap-3 {
  gap: 0.75rem;
}

.tw-gap-4 {
  gap: 1rem;
}

.tw-gap-x-1 {
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
}

.tw-gap-x-2 {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}

.tw-gap-x-4 {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.tw-gap-y-4 {
  row-gap: 1rem;
}

.tw-grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.tw-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.tw-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.tw-grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.tw-grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.tw-col-span-1 {
  grid-column: span 1 / span 1;
}

.tw-col-span-2 {
  grid-column: span 2 / span 2;
}

.tw-col-span-3 {
  grid-column: span 3 / span 3;
}

.tw-col-span-4 {
  grid-column: span 4 / span 4;
}

.tw-col-span-8 {
  grid-column: span 8 / span 8;
}

.tw-col-span-10 {
  grid-column: span 10 / span 10;
}

.tw-grid-rows-6 {
  grid-template-rows: repeat(6, minmax(0, 1fr));
}

.tw-auto-rows-min {
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
}

.tw-row-span-6 {
  grid-row: span 6 / span 6;
}

.tw-transition {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.tw-transition-colors {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@-webkit-keyframes tw-spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes tw-spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes tw-ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes tw-pulse {
  50% {
    opacity: .5;
  }
}

@keyframes tw-bounce {
  0%, 100% {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8,0,1,1);
            animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
            animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

@media (min-width: 640px) {

  .sm\:tw-h-36 {
    height: 9rem;
  }

  .sm\:tw-w-32 {
    width: 8rem;
  }
}

@media (min-width: 768px) {

  .md\:tw-border-white {
    --tw-border-opacity: 1;
    border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  }

  .md\:tw-border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgba(209, 213, 219, var(--tw-border-opacity));
  }

  .md\:hover\:tw-border-gray-300:hover {
    --tw-border-opacity: 1;
    border-color: rgba(209, 213, 219, var(--tw-border-opacity));
  }

  .md\:tw-border-0 {
    border-width: 0px;
  }

  .md\:tw-border {
    border-width: 1px;
  }

  .md\:tw-inline-block {
    display: inline-block;
  }

  .md\:tw-inline {
    display: inline;
  }

  .md\:tw-flex {
    display: flex;
  }

  .md\:tw-hidden {
    display: none;
  }

  .md\:tw-order-1 {
    order: 1;
  }

  .md\:tw-font-normal {
    font-weight: 400;
  }

  .md\:tw-font-semibold {
    font-weight: 600;
  }

  .md\:tw-h-36 {
    height: 9rem;
  }

  .md\:tw-h-40 {
    height: 10rem;
  }

  .md\:tw-h-auto {
    height: auto;
  }

  .md\:tw-text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .md\:tw-text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .md\:tw-text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .md\:tw-text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .md\:tw-text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .md\:tw-text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .md\:tw-m-2 {
    margin: 0.5rem;
  }

  .md\:tw-mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .md\:tw-mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .md\:tw-mx-8 {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .md\:tw-mx-10 {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .md\:tw-mx-14 {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }

  .md\:tw-mt-0 {
    margin-top: 0px;
  }

  .md\:tw-mb-0 {
    margin-bottom: 0px;
  }

  .md\:tw-mr-1 {
    margin-right: 0.25rem;
  }

  .md\:tw-ml-1 {
    margin-left: 0.25rem;
  }

  .md\:tw-mr-2 {
    margin-right: 0.5rem;
  }

  .md\:tw-ml-2 {
    margin-left: 0.5rem;
  }

  .md\:tw-mt-3 {
    margin-top: 0.75rem;
  }

  .md\:tw-mr-8 {
    margin-right: 2rem;
  }

  .md\:tw-ml-8 {
    margin-left: 2rem;
  }

  .md\:tw-mb-16 {
    margin-bottom: 4rem;
  }

  .md\:tw-mb-auto {
    margin-bottom: auto;
  }

  .md\:tw-px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .md\:tw-px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .md\:tw-px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .md\:tw-px-7 {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }

  .md\:tw-pl-2 {
    padding-left: 0.5rem;
  }

  .md\:tw-pl-3 {
    padding-left: 0.75rem;
  }

  .md\:tw-pl-4 {
    padding-left: 1rem;
  }

  .md\:tw-sticky {
    position: -webkit-sticky;
    position: sticky;
  }

  .md\:tw-top-0 {
    top: 0px;
  }

  .md\:tw-left-0 {
    left: 0px;
  }

  .md\:tw-top-1 {
    top: 0.25rem;
  }

  .md\:tw-right-1 {
    right: 0.25rem;
  }

  .md\:tw-bottom-4 {
    bottom: 1rem;
  }

  .md\:tw-top-6 {
    top: 1.5rem;
  }

  .md\:tw-right-6 {
    right: 1.5rem;
  }

  .md\:tw-bottom-8 {
    bottom: 2rem;
  }

  .md\:tw-top-14 {
    top: 3.5rem;
  }

  .md\:tw-shadow {
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .md\:tw-text-left {
    text-align: left;
  }

  .md\:tw-w-36 {
    width: 9rem;
  }

  .md\:tw-w-8\/12 {
    width: 66.666667%;
  }

  .md\:tw-w-10\/12 {
    width: 83.333333%;
  }

  .md\:tw-w-full {
    width: 100%;
  }

  .md\:tw-gap-3 {
    gap: 0.75rem;
  }

  .md\:tw-gap-4 {
    gap: 1rem;
  }

  .md\:tw-gap-x-6 {
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }

  .md\:tw-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:tw-grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .md\:tw-grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .md\:tw-col-span-1 {
    grid-column: span 1 / span 1;
  }

  .md\:tw-col-span-2 {
    grid-column: span 2 / span 2;
  }

  .md\:tw-col-span-3 {
    grid-column: span 3 / span 3;
  }
}

@media (min-width: 1024px) {

  .lg\:tw-bg-green-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(209, 250, 229, var(--tw-bg-opacity));
  }

  .lg\:tw-flex {
    display: flex;
  }

  .lg\:tw-hidden {
    display: none;
  }

  .lg\:tw-h-44 {
    height: 11rem;
  }

  .lg\:tw-h-48 {
    height: 12rem;
  }

  .lg\:tw-text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .lg\:tw-text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .lg\:tw-mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .lg\:tw-mt-3 {
    margin-top: 0.75rem;
  }

  .lg\:tw-w-40 {
    width: 10rem;
  }

  .lg\:tw-w-10\/12 {
    width: 83.333333%;
  }

  .lg\:tw-w-full {
    width: 100%;
  }

  .lg\:tw-col-span-3 {
    grid-column: span 3 / span 3;
  }

  .lg\:tw-col-span-9 {
    grid-column: span 9 / span 9;
  }
}