<!--Navbar -->
<nav class="navbar navbar-expand-lg orange lighten-1 navbar-dark tw-m-0 tw-overflow-hidden {% if shadow == 'True' %}md:tw-shadow tw-shadow-none{% else %}tw-shadow-none{% endif %}">
  <a class="navbar-brand tw-font-semibold tw-text-xl" href="/">Biz Intel</a>
  <div class='d-flex d-md-none'>
    <div>
      {% if request.user.is_authenticated %}
        <a class="nav-link tw-text-white tw-font-medium" href="#">
            <i class="fas fa-sign-in-alt"></i> {{request.user.username}}
        </a>
      {% else %}
        <a class="nav-link" href="{% url 'login' %}">
          <i class="fas fa-sign-in-alt"></i> Login
        </a>
      {% endif %}
    </div>
    <div>
      <a class="nav-link tw-text-white tw-font-medium" href="{% url 'viewcart' %}">
          <i class="fas fa-shopping-cart"></i> CART
      </a>
    </div>
  </div>
  <div class="collapse navbar-collapse shadow-none" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto shadow-none">
      <li class="nav-item tw-mr-6 tw-w-120">
        {% comment %} <div class='tw-inline-flex tw-justify-center tw-flex-shrink tw-flex-grow-0 tw-items-center tw-w-full'> {% endcomment %}
        <form action={% url 'handle_product_search' %} method="GET" id="mainSearchBar_pc" class='tw-inline-flex tw-justify-center tw-flex-shrink tw-flex-grow-0 tw-items-center tw-w-full'>
          <input type="text" id='productquery_pc' name='productquery' class="form-control" placeholder="Search Products">
          <i id="mainSearchBar_pc_btn" class="fas fa-search lens-icon tw-inline tw-relative tw-right-9 fa-lg tw-text-yellow-400 tw-px-1 tw-py-2 tw-cursor-pointer" ></i>
        </form>
        {% comment %} </div> {% endcomment %}
      </li>
      <li class="nav-item tw-mx-2 tw-font-medium">
        {% if request.user.is_authenticated %}
          <a class="nav-link" href="{% url 'login' %}">
            <i class="fas fa-sign-in-alt"></i> {{request.user.username}}
          </a>
        {% else %}
          <a class="nav-link" href="{% url 'login' %}">
            <i class="fas fa-sign-in-alt"></i> Login
          </a>
        {% endif %}
      </li>
      {% if request.user.is_authenticated == False %}
        <li class="nav-item tw-mx-2 tw-font-medium">
          <a class="nav-link" href="{% url 'register' %}">
            <i class="fas fa-chalkboard-teacher"></i> Sign up</a>
        </li>
      {% endif %}
      <li class="nav-item tw-mx-2 tw-font-medium">
        <a class="nav-link" href="{% url 'viewcart' %}">
          <i class="fas fa-shopping-cart"></i>Cart</a>
      </li>
    </ul>
  </div>
</nav>
<div class="p-2 orange lighten-1 d-md-none tw-block shadow-none tw-m-0 tw-overflow-hidden">
  {% comment %} <div class='tw-inline-flex tw-justify-center tw-flex-shrink tw-flex-grow-0 tw-items-center tw-w-screen tw-mx-auto l tw-relative tw-left-1 md:tw-left-0'> {% endcomment %}
    <form action={% url 'handle_product_search' %} method="get" id="mainSearchBar_mob" class='tw-inline-flex tw-justify-center tw-flex-shrink tw-flex-grow-0 tw-items-center tw-w-screen tw-mx-auto l tw-relative tw-left-1 md:tw-left-0'>
      <input type="text" class="form-control" placeholder="Search Products" id='productquery_pc' name='productquery'>
      <i id='mainSearchBar_mob_btn' class="fas fa-search lens-icon tw-inline tw-relative tw-right-9 fa-lg tw-text-yellow-400 tw-px-1 tw-py-2"></i>
    </form>
  {% comment %} </div> {% endcomment %}
</div>

<!--/.Navbar -->