<div class="tw-grid md:tw-grid-cols-12 tw-grid-cols-1 md:tw-mr-2 md:tw-ml-2 tw-mx-1">
    <div class="fliter-box tw-col-span-2 tw-py-2 md:tw-mr-1">
        {% include './sidebar.html' %}
    </div>
    <div class="search-box tw-col-span-10 tw-mt-2 md:tw-ml-1 tw-py-4 tw-px-2 tw-grid md:tw-grid-cols-2 tw-grid-cols-1 tw-gap-3 tw-border-gray-400 tw-border tw-auto-rows-min">
        {% if msg == True %}
            {% if result_for != None %}
                {% for product in product_data %}
                    {% comment %} i_id = item id {% endcomment %}
                    {% if product.Is_normal_product == True %}
                        {% include './horizontalCard.html' with prod=product.Is_normal_product i_id=product.id Thumbnail=product.Thumb_path Highlights=product.Highlights price=product.Cost_to_customer c_price=product.Crossed_price Name=product.Name Discount=product.Discount %}
                    {% elif product.Is_normal_product == False %}
                        {% include './horizontalCard.html' with attr=product.AttrCache prod=product.Is_normal_product p_id=product.Product_id i_id=product.id Thumbnail=product.Thumb_path Highlights=product.Highlights price=product.Cost_to_customer c_price=product.Crossed_price Name=product.Name Discount=product.Discount %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% else %}
            <h1 class='tw-font-bold tw-text-2xl montserrat tw-text-left tw-pt-5 tw-mb-8'>
                No Result Found For search "{{productquery}}""
            </h1>

        {% endif %}
    </div>
</div>