<div class="md:tw-flex tw-w-full tw-flex-col tw-items-center tw-hidden tw-content-center tw-border tw-border-gray-400 tw-min-h-screen">
    {% comment %} <div class="tw-flex-grow tw-w-full tw-bg-gray-200 tw-p-2 tw-rounded-md mt-2">
        <p class="tw-font-medium">Sort By</p>
        <div class="tw-grid-cols-2 tw-flex tw-items-center tw-justify-between tw-flex-grow">
            <button class="p-1 btn orange tw-shadow-none tw-mx-0 lighten-2">Low To High</button>
            <button class="p-1 btn orange tw-shadow-none tw-mx-0 lighten-2">High To Low</button>
        </div>
    </div>
    <div class="tw-flex-grow tw-w-full tw-bg-gray-200 tw-p-2 tw-rounded-md mt-2">
        <p class="">Search By Category</p>
        <div class="tw-grid-cols-2 tw-flex tw-items-center tw-justify-between tw-flex-grow">
            <a href="" class="btn tw-bg-green-100 tw-block tw-flex-grow hover:tw-shadow-none tw-shadow-none"></a>
        </div>
    </div> {% endcomment %}


    
    <div class="tw-flex tw-items-center tw-flex-col tw-border-gray-300 tw-border tw-my-2 tw-mx-1 tw-h-auto">
        <p class="tw-font-medium tw-mb-2">
            Short By: Price
        </p>
        <div class="tw-flex tw-items-center tw-justify-between tw-w-full">
            <button data-for='sort' data-value="l2h" class="p-1 btn tw-bg-gray-200 tw-shadow-none tw-mr-2 hover:tw-shadow-none hover:tw-bg-gray-400"> Low To High</button>
            <button data-for='sort' data-value="htl" class="p-1 btn tw-bg-gray-200 tw-shadow-none tw-ml-2 hover:tw-shadow-none hover:tw-bg-gray-400"> High To Low</button>
        </div>
    </div>

    
    <div class="tw-flex tw-items-center tw-flex-col tw-border-gray-300 tw-border tw-my-2 tw-mx-1 tw-h-auto">
        <p class="tw-font-medium tw-mb-2">
            Short By: Categories
        </p>
        <div class="tw-flex tw-items-center tw-justify-between tw-w-full tw-flex-grow">
            <button data-for='price-range' data-value='' class="p-1 btn tw-bg-gray-200 tw-shadow-none tw-mr-2 hover:tw-shadow-none hover:tw-bg-gray-400">Trending</button>
            <button data-for='price-range' data-value='' class="p-1 btn tw-bg-gray-200 tw-shadow-none tw-ml-2 hover:tw-shadow-none hover:tw-bg-gray-400">Latest</button>
        </div>
    </div>


    <div class="tw-flex tw-items-center tw-flex-col tw-border-gray-300 tw-border tw-my-2 tw-mx-1 tw-h-auto">
        <p class="tw-font-medium tw-mb-2">
            Short By: Brands
        </p>
        <div class="tw-flex tw-items-center tw-justify-between tw-w-full">
            <button class="p-1 btn tw-bg-gray-200 tw-shadow-none tw-mr-2 hover:tw-shadow-none hover:tw-bg-gray-400">Low To High</button>
            <button class="p-1 btn tw-bg-gray-200 tw-shadow-none tw-ml-2 hover:tw-shadow-none hover:tw-bg-gray-400">High To Low</button>
        </div>
    </div>


    <div class="tw-flex tw-items-center tw-flex-col tw-border-gray-300 tw-border tw-my-2 tw-mx-1 tw-h-auto">
        <p class="tw-font-medium tw-mb-2">
            Short By: Price Range
        </p>
        <div class="tw-flex tw-items-center tw-justify-between tw-w-full">
            <button class="p-1 btn tw-bg-gray-200 tw-shadow-none tw-mr-2 hover:tw-shadow-none hover:tw-bg-gray-400">Low To High</button>
            <button class="p-1 btn tw-bg-gray-200 tw-shadow-none tw-ml-2 hover:tw-shadow-none hover:tw-bg-gray-400">High To Low</button>
        </div>
    </div>
</div>